<div class='col-3 text-center'>
  <%= @tense %>
</div>

<div class='col-3 text-center'>
  <%= @person %>
</div>

<div class='col-3 text-center'>
  <%= @number %>
</div>

<div class='col-3 text-center'>
  <%= @verb %>
</div>

</div>
<div class='row justify-content-center' style='padding:10px'>
  <div class='col-3'>
    <button id='hideshow' type="button" class="btn btn-success">
      <span class="fa fa-eye" aria-hidden="true"></span>
    </button>
  </div>
  <div class='col-3'>
    <button type="button" class="btn btn-info" onclick="window.location.reload()">
      <span class="fa fa-refresh" aria-hidden="true"></span>
    </button>
  </div>
</div>
<div class='row justify-content-center' style='padding:10px'>
  <div id='content' class='col-3' style='display:none'>
    <%= @resultado %>
  </div>
</div>
